/elegantbook-cn.aux
/elegantbook-cn.bbl
/elegantbook-cn.bcf
/elegantbook-cn.blg
/elegantbook-cn.fdb_latexmk
/elegantbook-cn.fls
/elegantbook-cn.log
/elegantbook-cn.out
/elegantbook-cn.run.xml
/elegantbook-cn.synctex.gz
/elegantbook-cn.thm
/elegantbook-cn.toc
/elegantbook-en.tex
/README-CN.md